:root {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 24px;
    background-color: #222;
    line-height: 1;
    color: #EBEBEB;

    /* Colors */
    --green: #6aaa64;

    /* Dimension */
    --box-width: 65px;
}

div.row > input {
    background-color: gray;
    width: 1.5rem;
    height: 1.5rem;
    padding: 10px;
    margin: 2px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

#likely-words {
    border: 1px solid white;
    width: 30vw;
    padding: 1rem;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

li {
    padding: 0.1em;
    letter-spacing: 2px;
    display: flex;
}

section {
    display: flex;
    justify-content: center;
}

li label {
    width: 1.25em;
}

progress {
    margin-left: 0.75em;
    appearance: none;
    display: flex;
    width: 300px;
    opacity: 10.3%;
}
progress:after {
    padding-left: 0.5em;
    content: attr(value)'%';
}

label {
    user-select: none;
}

.row {
    display: flex;
    margin: 0.5em auto;
    gap: 0.25em;
    justify-content: center;
    max-width: 500px;
    border-left: 5px solid transparent;
}

span.box {
    width: var(--box-width);
    height: var(--box-width);
    padding: 10px;
    margin: 2px;
    font-size: var(--box-width);
    text-transform: uppercase;
    text-align: center;
    user-select: none;
    border: 1px solid lightgray;
}

div.active {
    border-color: white;
}
div.active > span.box {
    background-color: gray;
    border-color: transparent;
}

span.allowed {
    background-color:green;
}
